* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #F0EAD2; 
    color: #333; 
    padding: 20px;
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.heading-box {
    background-color: rgb(78, 62, 38); 
    color: #e4dba8; 
    padding: 20px;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(25, 78, 41, 0.3); 
    width: fit-content;
    margin: 0 auto; 
}

.heading-box h1 {
    color: #fff; 
    font-size: 2rem; 
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #ADC178; 
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 20px;
}

button:hover {
    background-color: #A98467; 
}

.meal-plan-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 20px; 
    margin-top: 30px;
}

.meal-box {
    background-color: #DDE5B6; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    text-align: left;
    width: 300px; 
    height: 150px; 
}

.meal-box h3 {
    color: #6C584C; 
    margin-bottom: 10px;
    font-size: 1.5rem; 
}

.meal-box p {
    color: #6C584C;
    font-size: 1rem;
    margin-bottom: 8px;
}

.back-home-button {
    position: absolute;
    top: 20px; /* Distance from the top */
    right: 20px; /* Distance from the right */
    padding: 10px 20px;
    background-color: #ADC178; /* Button color */
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    text-decoration: none; /* Remove underline */
}

.back-home-button:hover {
    background-color: #A98467; /* Hover effect */
}


@media (max-width: 768px) {
    body {
        font-size: 14px;
    }

    .container {
        padding: 10px;
    }

    .meal-plan-container {
        flex-direction: column; 
        align-items: center; 
    }

    .meal-box {
        width: 90%; 
        margin-bottom: 20px;
    }
}
