<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ recipe.title }}</title>
    <link rel="stylesheet" href="../static/style.css"> <!-- Link to external CSS file -->
    <link rel="stylesheet" href="../static/recipe_detail_style.css">
</head>
<body style="background-color: #ADC178;">
    <div class="container">
        <h1 class="heading">{{ recipe.name }}</h1>
    </div>

    <br>

    <div class="container">
    <div class="recipe box">
        <img src="{{ recipe.image }}" alt="{{ recipe.name }}">
    </div>
    <div class="box green">
    
    <h2 class="heading">Ingredients</h2>
    <ul>
        {% for item in recipe.ingredients %}
        <p>{{ item["measurement"]}} {{item["ingredient"]}}</p>
        {% endfor %}
    </ul>
</div>
</div>

<br>

<div class="container">
    <div class="box light-green">
        <h2 class="heading">Instructions</h1>
                {% set steps = recipe.instructions.split("\r\n") %}
                {% for step in steps if step.strip() != "" %}
                    <p>{{ step }}</pi>
                {% endfor %}
</div>
</div>
</body>
</html>
