body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 20px;
    padding: 20px;
    text-align: center;
    position: relative;
}
.card img {
    width: 260px;
    height: 260px; /* Maintain aspect ratio */
    border-radius: 10px;
    object-fit: cover; /* Ensures the image covers the space without distortion */
    border-radius: 10px;
}
.card h2 {
    font-size: 20px;
    /* margin: 15px 0; */
}
.card p {
    font-size: 14px;
    color: #555;
}
.card-checkbox {
    position: absolute;
    bottom: 20px;
    right: 20px;
    transform: scale(1.5); /* Optional: makes the checkbox larger */
}
a {
    text-decoration: none; /* Removes the underline */
    color: inherit; /* Inherits the color from its parent element */
}
#recipe-form {
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap */
    justify-content: center; /* Centers items in the row */
    gap: 20px; /* Adds space between cards */
}
.submit-btn {
    background-color: white; 
    color: #555;
    font-size: 18px;
    font-weight: bold;
    padding: 12px 24px;
    border: none;
    border-radius: 10px;
    display: block;
    width: 100%;
    max-width: 200px;
    text-align: center;
    margin: 20px auto; /* Centers the button */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
