/* Reset some basic styling across all browsers */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    
    background-image: url('https://cdn2.vectorstock.com/i/1000x1000/49/16/healthy-food-over-green-background-vector-2234916.jpg');
    background-size: cover;
    background-position: center center;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

/* Common container for wrapping content */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Heading box styles */
.heading-box {
    background-color: #6C584C;
    color: #e4dba8; /* Beige text color */
    padding: 20px;
    border-radius: 10px;
    width: fit-content;
    margin: 0 auto; /* Centers the box */
}

/* Heading styles */
h1, h2 {
    margin-bottom: 15px;
    font-size: 2.5rem; 
}

/* Paragraph styles */
p {
    margin-bottom: 10px;
    font-size: 1rem;
    color: #e4dba8;
}

/* Link styles */
a {
    text-decoration: none;
    color: #DDE5B6;
}

a:hover {
    text-decoration: underline;
}

/* Button styles */
button {
    padding: 10px 20px;
    background-color: #adc178;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 20px;

}

button:hover {
    background-color: #005bb5;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
    body {
        font-size: 14px;
    }

    .container {
        padding: 10px;
    }

    h1, h2 {
        font-size: 2rem; /* Adjust heading size on smaller screens */
    }
}