.recipe img {
    width: 500px;  /* Set fixed width */
    height: 500px; /* Set fixed height */
    object-fit: cover; /* Ensures the image fills the area */
    border-radius: 10px; /* Optional: adds rounded corners */
}

.container {
    display: flex;
    gap: 50px; /* Optional: Adds spacing between divs */
    align-items: center; /* Centers items vertically */
    justify-content: center;
} 

.box {
    text-align: left;
    font-size: 18px;
}

.green {
    width: 450px;  /* Set fixed width
    /* height: 500px; Set fixed height */ 
    padding: 25px;
    padding-top: 10px;
    background-color: #DDE5B6;
    border-radius: 10px; /* Optional: adds rounded corners */
}

.light-green {
    padding: 25px;
    padding-top: 10px;
    width: 1000px;
    background-color: #DDE5B6;
    border-radius: 10px; /* Optional: adds rounded corners */
}

.heading {
    text-align: center;
}