/* Reset some basic styling across all browsers */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #F0EAD2;
    color: #333;
}

/* Common container for wrapping content */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

/* Heading styles */
h1, h2, h3, h4, h5, h6 {
    color: #6C584C;
    margin-bottom: 15px;
}

/* Paragraph styles */
p {
    margin-bottom: 10px;
    font-size: 1rem;
    color: #555;
}

/* Link styles */
a {
    text-decoration: none;
    color: #DDE5B6;
}

a:hover {
    text-decoration: underline;
}

/* Button styles */
button {
    padding: 10px 20px;
    background-color: #ADC178;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 20px;
}

button:hover {
    background-color: #005bb5;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
    body {
        font-size: 14px;
    }

    .container {
        padding: 10px;
    }
}
a {
    text-decoration: none; /* Removes the underline */
    color: inherit; /* Inherits the color from its parent element */
}