<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Meal Plan for the Week</title>
    <link rel="stylesheet" href="..\static\meal_plan_style.css">
</head>
<body>

    <a href="index.html">
        <button class="back-home-button">Back to Home Page</button>
    </a>

    

    
    <div class="container">
        <div class="heading-box">
            <h1>Your Meal Plan for the Week</h1>
        </div>

        <div class="meal-plan-container">
            {% for i in range(0,12,2) %}
            <div class="card">
                <div class="meal-box">
                    <h3>{{weekdays[i//2]}}</h3>
                    <p><strong>Lunch:</strong> 
                        {% set recipe_id = recipes[i].keys() | first %}
                        <a href="{{ url_for('recipe_detail', id=recipe_id) }}" target="_blank">
                            {{ recipes[i][recipe_id] }}
                        </a>
                        </p>
   
                    <p><strong>Dinner:</strong> 
                        {% set recipe_id = recipes[i+1].keys() | first %}
                        <a href="{{ url_for('recipe_detail', id=recipe_id) }}" target="_blank">
                            {{ recipes[i+1][recipe_id] }}
                        </a></p>
                    <br>
                    <hr>
                    <br>
                    <p><strong>Daily Calorie Count:</strong>{{calories[i//2]}}</p>
                    <p><strong>Daily Protein (g):</strong>{{protein[i//2]}}</p>
                    <p><strong>Daily Carbs:</strong>{{carbs[i//2]}}</p>
                </div>
            </div>
            {% endfor %}

            
        
    </div>
</body>
</html>