<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Cards</title>
    <link rel="stylesheet" href="../static/recipes_style.css">
</head>
<body style="background-color: #ADC178;">
    {% for recipe in recipes %}
    <div class="card">
        <a href="{{ url_for('recipe_detail', title=recipe.title) }}">
            <img src="{{ recipe.image }}" alt="{{ recipe.title }}">
        <h2>{{ recipe.title }}</h2>
        <p>{{ recipe.description }}</p>
    </a>
    </div>
    {% endfor %}
</body>
</html>
