<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Cards</title>
    <link rel="stylesheet" href="../static/recipes_style.css">
</head>
<body style="background-color: #ADC178;">
    <form id="recipe-form">
    {% for recipe in recipes %}
    <div class="card">
        <img src="{{ recipe.image }}" alt="{{ recipe.title }}">
        <a href="{{ url_for('recipe_detail', title=recipe.title) }}" target="_blank">
        <input type="checkbox" class="card-checkbox">
        <h2>{{ recipe.title }}</h2>
    </a>
    </div>
    {% endfor %}
    <button type="submit" class="submit-btn">Submit</button>
</form>
</body>
</html>
